<?xml version="1.0"?>
<config>
    <modules>
        <KojiroMike_Messenger>
            <version>0.1.0</version>
        </KojiroMike_Messenger>
    </modules>
    <global>
        <models>
            <kojiromike_messenger>
                <class>KojiroMike_Messenger_Model</class>
                <resourceModel>kojiromike_messenger_resource</resourceModel>
            </kojiromike_messenger>
            <kojiromike_messenger_resource>
                <class>KojiroMike_Messenger_Model_Resource</class>
            </kojiromike_messenger_resource>
        </models>
        <blocks>
            <kojiromike_messenger>
                <class>KojiroMike_Messenger_Block</class>
            </kojiromike_messenger>
        </blocks>
        <helpers>
            <kojiromike_messenger>
                <class>KojiroMike_Messenger_Helper</class>
            </kojiromike_messenger>
        </helpers>
    </global>
    <frontend>
        <routers>
            <messenger>
                <use>standard</use>
                <args>
                    <module>KojiroMike_Messenger</module>
                    <frontName>messenger</frontName>
                </args>
            </messenger>
        </routers>
    </frontend>
</config>
